.navbar-brand span {
      color: #002f86;
      font-weight: bold;
      font-size: 24px;
}
.navbar-brand .orange-dot {
      color: orange;
}
.nav-link {
      margin-right: 15px;
      font-weight: 500;
      color: #000 !important;
}
.btn-contact {
      background-color: #0038a8;
      color: #fff;
      font-weight: 500;
      padding: 6px 16px;
      border-radius: 20px;
}
/* Hero section  */
.hero-section {
  height: 60vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-image: url('images/about_us_breadcrumbs.jpg');
}

.hero-section .overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);

}

.hero-section .content {
  z-index: 1;
}

footer {
  background: linear-gradient(135deg, #007bff, #00aaff);
}

footer h6, footer h5 {
  font-weight: 600;
}

body {
      font-family: 'Segoe UI', sans-serif;
      line-height: 1.6;
    }
    .section-title {
      color: #0d6efd;
      font-weight: 600;
      margin-top: 40px;
    }
    ul {
      list-style-type: "🔹 ";
      padding-left: 20px;
    }
    .service-icon {
      font-size: 1.2rem;
      color: #198754;
    }
    .highlight {
      color: #0d6efd;
      font-weight: 600;
    }


.social_media_icon i {
    margin: 15px;
    font-size: 25px;
}

a {
  color: inherit;   
  text-decoration: none; 
}

ul.list-unstyled a li {
    margin-top: 5px;
}

footer {
  background: linear-gradient(to right, #00a8ff, #0046ad);
}

a.nav-link.header {
  font-size: 18px;
  padding: 10px;
}
a.nav-link.header:hover {
   border-bottom: 3px solid #ffc107;
}