/*RTL CSS*/

.home .dashed-line {
  border-bottom: 3px dashed;
  margin-top: 15px;
  position: relative;
}
.home .dashed-line::after {
  position: absolute;
  left: -25px;
  top: -9px;
  bottom: 0;
  content: '';
  width: 20px;
  height: 20px;
  background: url(assets/images/dot-icon.png);
  background-size: 100% 100%;
}
.home .dashed-line::before {
  position: absolute;
  right: -25px;
  top: -8px;
  bottom: 0;
  content: '';
  width: 20px;
  height: 20px;
  background: url(assets/images/plan-icon.png);
  background-size: 100% 100%;
}
figure.wp-block-image.aligncenter.size-full img {
  height: 500px;
}
.banner-image-2 {
  position: absolute;
  bottom: 0;
  left: 30px;
}
.banner-image-2 img {
  border: solid 10px #E8F3FE;
}
.social-box-wrap {
  transform: rotate(90deg);
  position: absolute;
  bottom: 58%;
  left: -80px;
  gap: 0px;
  width: 45%;
}
.banner-image-wrap {
  position: relative;
}
.wp-block-fse-pro-header-social .social-controller, .wp-block-fse-pro-header-search .search-controller, .wp-block-social-links.is-style-logos-only .wp-social-link .wp-block-social-link-anchor {
  padding: 9px;
  width: auto;
  height: auto;
}
.social-box-wrap .wp-block-social-links a {
  background: #000;
  border-radius: 5px !important;
}
.wp-block-social-link {
  border-radius: 9999px;
  display: block;
  height: auto;
  transition: transform .1s ease;
}
.social-box-wrap .wp-block-social-links .wp-social-link svg {
  height: 20px;
  width: 20px;
  transform: rotate(-90deg);
}
.wp-block-social-links.is-style-logos-only .wp-social-link .wp-block-social-link-anchor:hover, .wc-block-mini-cart__button:hover {
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--accent);
}
.block-wrap-inner {
  border: dashed 2px #00000070;
  border-radius: 15px;
}
.block-wrap-inner img {
  width: 100%;
}
.home .header-box-upper {
  position: absolute;
  background-color: #00000000;
  width: 100%;
  z-index: 99;
}
.header-box-upper {
  position: relative;
  z-index: 99;
  background-color: #fff;
}
.banner-image-wrap {
  position: relative;
}
.banner-section{
  position: relative;
}
.wp-site-blocks{
  padding: 0 !important;
}
.homepage-header {
  position: relative;
  width: 80%;
  padding: 0 !important;
  gap:0px;
  margin: 0 auto;
}
.logo-box h1{
  text-align: right; 
}
.home .logo-box h1{
  text-align: center; 
}
.header-box-middle{
  position: relative;
}
.wp-block-image img{
  vertical-align: middle !important;
}
.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container li a {
  color: #000;
}
footer.wp-block-template-part {
  margin-top: 0;
}

@media screen and (min-width: 320px) and (max-width: 781px) {
  .header-logo h1,.review-wrap h3,.review-wrap p,.popular-section h4.popular-heading,.popular-section p.popular-text{
    text-align: center;
  }
  .review-wrap{
    margin-top: 0px !important;
  }
  .tab-box{
    gap:10px !important;
    justify-content: center !important;
  }
  figure.wp-block-image.aligncenter.size-full img {
    height: 100%;
  }
  .slider-content {
    padding-top: 30px!important;
  }
  .review-wrap .alignright{
    margin: 0px !important;
    text-align: center;
  }
  .review-wrap .team-img,.about-btn-nd-call .call-btn{
    display: flex;
    justify-content: center;
  }
  .header-box-middle nav,.header-box-middle .wp-block-buttons,.slider-content .wp-block-buttons, .social-box-wrap .wp-block-social-links,.about-btn-nd-call .wp-block-buttons{
    justify-content: center;
  }
  .home .header-box-upper{
    position: relative;
  }
  .social-box-wrap{
    gap:20px;
  }
  .banner-image-2 {
    position: static;
    margin-right: auto !important;
    margin-left: auto !important;
    width: 100%;
  }
  .social-box-wrap {
    position: static;
    transform: none;
    width: 100%;
    padding-top: 30px !important;
  }
  .social-box-wrap .wp-block-social-links .wp-social-link svg {
    transform: none;
  }
  .slider-content{
    text-align: center;
  }
  .banner-section{
    min-height: 500px !important;
  }
  .header-button .wp-block-buttons{
    justify-content: center;
  }
  .banner-section {
    padding: 35px 0px !important;
  }
  .banner-content{
    text-align: center;
  }
  .banner-image-wrap{
    text-align: center;
  }
  .customer-sec{
    position: relative;
    right: 0;
  }
  .services-box p,.services-box h3{
    text-align: center;
  }
  .service-inner-box p{
    text-align: right;
  }
  .meta-post{
    display: grid !important;
    grid-template-columns: auto auto auto !important;
    gap: 10px;
  }
  .team-box,.price-box{
    display: grid !important;
    grid-template-columns: auto auto !important;
  }
  .services-box{
    padding: 0 !important;
  }
  .home .homepage-header{
    position: relative;
    background: #000;
  }
  .banner-cover{
    min-height: 400px !important;
  }
  .banner-content{
    text-align: center;
  }
  span.wp-block-navigation-item__label {
    color: #000;
  }
}
@media screen and (min-width: 782px) and (max-width: 1100px) {
  .header-box-middle,p.dashed-line{
    max-width: 100%;
  }
  .review-text,.team-img{
    flex-basis: 50% !important;
  }
  .blank-colomn{
    flex-basis: 0% !important;
  }
  .team-img .alignright{
    width: 100%;
    margin-right: 0px !important;
  }
  .header-btn{
    flex-basis: 30% !important;
  }
  .header-menu{
    flex-basis: 70% !important;
  }
  .slider-content .slider-heading{
    font-size: 25px !important;
  }
  .slider-content p{
    font-size: 12px !important;
  }
  .banner-image-2 {
    position: static;
    margin-right: auto !important;
    margin-bottom: 20px !important;
    margin-left: auto !important;
    width: 100%;
  }
  .social-box-wrap .wp-block-social-links .wp-social-link svg{
    transform: none;
  }
  .banner-image-wrap {
    text-align: center;
  }
  .social-box-wrap {
    transform: none;
    width: 100%;
    position: static;
  }
}
@media screen and (min-width: 600px) and (max-width: 781px) {
  .popular-post{
    display: grid !important;
    grid-template-columns: auto auto !important;
  }
  .wp-block-column.is-vertically-aligned-center{
    width: auto;
  }
  .header-menu .wp-block-navigation ul{
    justify-content: center;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .footer-main{
    max-width: 90% !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 800px) {
  .admin-bar .wp-block-navigation__responsive-container-close {
    color: #000;
    top:15px;
  }
  .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container, ul.wp-block-navigation__submenu-container.wp-block-navigation-submenu {
    justify-content: center !important;
    gap: 30px !important;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1500px) {
  .social-box-wrap {
    bottom: 58%;
    left: -140px;
    width: 100%;
  }
  .banner-image-2{
    left: -25px;
  }
}

.wc-block-mini-cart.wp-block-woocommerce-mini-cart,.wp-block-woocommerce-customer-account {
  display: none;
}